.navbar {
    background-color: transparent;
    height: 80px;
    margin: 20px;
    border-radius: 16px;
    padding: 0.5rem;
}

body {
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h5 {
    font-family: "Bungee Inline", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.navbar-brand {
    font-weight: 500;
    color: aqua;
    font-size: 24px;
}

.Login-button {
    background-color: #f8c471;
    color: white;
    font-size: 14px;
    padding: 8px 20px;
    border-radius: 50px;
    text-decoration: none;
    transition: 0.3s background-color;
    border: none;
}

.Login-button:hover {
    background-color: transparent;
    border: 2px solid #f8c471;
    color: #f8c471;
}

.offcanvas {
    background-color: #f8c471;
}

.navbar-toggler {
    border: none;
    font-size: 1.25rem;
}

.navbar-toggler:focus,
.btn-close:focus {
    box-shadow: none;
    outline: none;
}

.nav-link {
    color: rgb(255, 255, 255);
    font-weight: 500;
    position: relative;
}

.nav-link:hover,
.nav-link.active {
    color: #f8c471;
}

@media (min-width: 991px) {
    .nav-link::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 2px;
        background-color: #f8c471;
        visibility: hidden;
        transition: 0.3s ease-in-out;
    }

    .nav-link:hover::before,
    .nav-link:active::before {
        width: 100%;
        visibility: visible;
    }
}

.hero-section {
    background: url(anime-sunset1.jpg);
    background-size: cover;
    width: 100%;
}

.hero-section h1 {
    font-family: "Bungee Inline", sans-serif;
    font-weight: 400;
    font-size: 120px;
}

.hero-section h2 {
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    text-align: center;
}

@media (max-width: 768px) {
    .hero-section h1 {
        font-size: 80px;
    }
    .hero-section h2 {
        font-size: 36px;
        text-align: center;
    }
}

@media (max-width: 480px) {
    .hero-section h1 {
        font-size: 50px;
    }
    .hero-section h2 {
        font-size: 24px;
        text-align: left;
    }
}

.hero-section::before {
    background-color: rgba(0, 0, 0, 0.3);
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.hero-section .container {
    height: 100vh;
    z-index: 1;
    position: relative;
}

.about {
    padding: 40px 20px;
    background-image: linear-gradient(180deg, #f5b041, #f39c12, #d35400);
}

.about-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.about-container > div {
    background-color: #ffffff;
    border: none;
    border-radius: 8px;
    padding: 20px;
    margin: 10px;
    flex: 1 1 30%;
    box-shadow: 10px 2px 10px rgba(0, 0, 0, 0.5);
    background-color: #d68910;
}

.about-container h3 {
    text-align: center;
    margin-bottom: 10px;
}

.engagement p {
    padding-bottom: 25px;
}

.about-container p {
    text-align: justify;
}

.portfolio {
    padding: 40px 20px;
    background-image: linear-gradient(180deg, #d35400, #ba4a00, #6e2c00);
}

.portfolio-container {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 800px;
    margin: 0 auto;
    flex-wrap: wrap;
}

.portfolio-image {
    max-width: 300px;
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-right: 20px;
}

.portfolio-description {
    font-size: 1.1rem;
    line-height: 1.5;
    flex: 1;
    text-align: justify;
}

.contact {
    background-color: #707b7c;
    color: #ccd1d1;
    padding: 20px;
    height: auto;
}

.contact h2 {
    text-align: center;
    margin-bottom: 10px;
}

.contact-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.contact-info {
    flex: 1;
    margin-right: 20px;
    text-align: center;
}

.contact-form {
    flex: 1;
}

.contact-info-list {
    list-style-type: none;
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.contact-info-list li {
    margin-right: 20px;
}

.contact-divider {
    border: none;
    height: 1px;
    background-color: #ccd1d1;
    margin-top: 10px;
    margin-bottom: 10px;
}

@media (max-width: 991px) {
    .navbar {
        margin: 10px;
    }

    .portfolio-container {
        flex-direction: column;
        align-items: center;
    }

    .portfolio-image {
        margin-right: 0;
        margin-bottom: 20px;
        max-width: 100%;
    }

    .about-container > div {
        flex: 1 1 100%;
        margin: 5px 0;
    }

    .contact-info {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .contact-info-list li {
        margin-right: 10px;
    }
}

@media (max-width: 480px) {
    .portfolio-description {
        font-size: 0.9rem;
    }

    .nav-link {
        font-size: 12px;
    }

    .Login-button {
        font-size: 12px;
    }
}
